@import '../../../../public/styles/variables';

.filterRow {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 14px;
}

.filterLabel {
  color: $filterLabel;
  font-size: $font-size-base !important;
}

.select :global(.MuiSelect-select) {
  padding: 6px 36px 6px 12px;
  font-size: $font-size-base !important;
  color: $selectColor;
  font-weight: 400;
}

/* Remove the outline border from MUI Select */
.noOutline :global(.MuiOutlinedInput-notchedOutline) {
  border: none !important;
}

/* Also make sure hover/focus doesn’t bring it back */
.noOutline :global(.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline),
.noOutline :global(.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline) {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}


.menuItem {
  font-size: $font-size-base !important;
}